.myclock{
    border: 2px solid rgb(47, 0, 0);
    background-color: rgb(255, 241, 204);
    padding: 20px;
    margin: auto;
    max-width: 60%;
    font-weight: bold;
    width: 340px;
    text-align: center;
    border-radius:10px;

}

h1{
    margin: auto;
    max-width: 60%;
    padding:90px;
    text-align: center;

}
.colorChange{
    width: 500px;
    height: 200px;
    border: 1px solid rgb(46, 48, 122);
    margin: 100px auto;
    text-align: center;
    border-radius:10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px; 
    padding: 30px;
}
ul {
    list-style: none;
  }
